---
import '../styles/global.css';
import '../styles/header.css';
import { ClientRouter } from 'astro:transitions'; 
const { titolo } = Astro.props;
---
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <title>{titolo} | U'RETRAPPIN'</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <ClientRouter />
  </head>
  <body>
    <header class="site-header">
       <div class="header-content">
           <a href="/" class="back-link">● BASE OPERATIONS ●</a>
           
           <a href="/carrello" class="cart-widget">
              CART [<span id="cart-count">0</span>]
           </a>
       </div>
    </header>

    <slot />
    
    <script src="../scripts/cartWidget.js"></script>

  </body>
</html>